# how to assign string values in variable

In [16]:
# for comment multiple lines ctrl ?

In [17]:
name = "Muhammad Qasim" # 1
print(name,type(name))

Muhammad Qasim <class 'str'>

In [18]:
name = 'Muhammad Qasim' # 2
print(name,type(name))

Muhammad Qasim <class 'str'>

In [19]:
#we have to define space characters (\n \t )
data = 'name:\t\tQasim\nfather Name:\tMuhammad Aslam\nBatch:\t\t 36-37'
print(data)

name:		Qasim
father Name:	Muhammad Aslam
Batch:		 36-37

In [20]:
# if you are using sing quote in start and end 
# or you want to use in middle of the text the you place (\) 
# before middle single quote
data = 'name:\t\tQasim\nfather\'s Name:\tMuhammad Aslam\nBatch:\t\t 36-37'
print(data)

name:		Qasim
father's Name:	Muhammad Aslam
Batch:		 36-37

In [21]:
data = "PIAIC \" ss \" Pakistan zinda bad"
print(data)

PIAIC " ss " Pakistan zinda bad

In [22]:
name = "Muhammad \"Q\"asim" # 1
print(name,type(name))

Muhammad "Q"asim <class 'str'>

In [1]:
# triple singl quote or triple double quote > define multi line string
data = """
Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37
"""
data # if you write in last line = out put raw text

"\nName:             Muhammad Qasim\nFather's Name:    Muhammad Aslam\nBatch:            36-37\n"

In [2]:
data = """
Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37
"""
print(data)

Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37

In [25]:
name

'Muhammad "Q"asim'

In [26]:
print(data)

Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37

In [27]:
# https://www.w3schools.com/python/gloss_python_variable_names.asp#:~:text=Rules%20for%20Python%20variables%3A,0%2D9%2C%20and%20_%20)

# How to apply varialbe name rules

In [28]:
1name = "Qasim"

SyntaxError: invalid syntax (1693186029.py, line 1)

In [3]:
_1name = "qasim"
_1name

'qasim'

In [6]:
father_name1 = "Muhammad Aslam"
father_name1

'Muhammad Aslam'

In [5]:
father_Name1 = "Muhammad Aslam"
father_Name1

'Muhammad Aslam'

In [4]:
father@Name1 = "Muhammad Aslam"
father@Name1

SyntaxError: cannot assign to operator (2270432515.py, line 1)

In [7]:
name = "Muhammad Qasim"
print(Name) # casesensitive "A" not equal "a"

NameError: name 'Name' is not defined

In [8]:
"a"
'b'
'c'# jupyter cell always return last line

'c'

In [9]:
"a"
'b'
print('c')# jupyter cell always return last line

c

# Concatination (combine two or more variables and values) | Text formation

In [10]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"

print(name, father_name, education, designation)

Muhammad Qasim Muhammad Aslam MS Chief Data Scientist

In [11]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"


print(name, father_name, education, designation, sep="\n")

Muhammad Qasim
Muhammad Aslam
MS
Chief Data Scientist

In [12]:
print('a')
print('b')

a
b

In [13]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"
height = 5.11  #

# + operator on string join two string variable
result = "PIAIC Teacher Card\n Name: " + name +"\n Father's Name: "+father_name+"\n Education: "+education+"\n Designation: "+designation+"\n Height:"+str(height)

print(result)

PIAIC Teacher Card
 Name: Muhammad Qasim
 Father's Name: Muhammad Aslam
 Education: MS
 Designation: Chief Data Scientist
 Height:5.11

In [14]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"
height = 5.11  #

data = """
PIAIC Teacher Card
 Name: {}
 Father's Name: {}
 Education: {}
 Designation: {}
 Height:{}
""".format(name,father_name,education,designation,height) # now we don't need to type cast


print(data)

PIAIC Teacher Card
 Name: Muhammad Qasim
 Father's Name: Muhammad Aslam
 Education: MS
 Designation: Chief Data Scientist
 Height:5.11

In [ ]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"
height = 5.11  #

data = """
PIAIC Teacher Card
 Name: {4}
 Father's Name: {0}
 Education: {2}
 Designation: {3}
 Height:{1}
""".format(father_name,height,education,designation,name) # now we don't need to type cast
#               0       1       2           3        4

print(data)

In [15]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"
height = 5.11  #

data = f"""
PIAIC Teacher Card
 Name: {name}
 Father's Name: {father_name}
 Education: {education}
 Designation: {designation}
 Height:{height}
"""


print(data)

PIAIC Teacher Card
 Name: Muhammad Qasim
 Father's Name: Muhammad Aslam
 Education: MS
 Designation: Chief Data Scientist
 Height:5.11

In [16]:
name

'Muhammad Qasim'

In [17]:
 0 1 2 3
(a,b,c,e)

SyntaxError: invalid syntax (844277270.py, line 1)

In [18]:
a = "Pakistan"
b = 1000

a + b

TypeError: can only concatenate str (not "int") to str

In [19]:
int('100')

100

In [20]:
a = "Pakistan"
b = 1000

a + str(b)

'Pakistan1000'

In [ ]:
abc = input("Enter any value: ") #always return text value
print(abc)

In [ ]:
name = input("Enter Your Name:")
father_name = input("Father's Name")
education = input("Education")
designation = input("Your Designation")
height = float(input("Your Height"))  #

data = f"""
PIAIC Teacher Card
 Name: {name}
 Father's Name: {father_name}
 Education: {education}
 Designation: {designation}
 Height:{height}
"""


print(data)

# String Methods

In [ ]:
print(data)

In [1]:
name = "muhammad Qasim"
name.capitalize()# CAPITAL FIRST LETTER

'Muhammad qasim'

In [3]:
name = "Muhammad QAsim"
name.casefold()# SMALL ALL LETTER

'muhammad qasim'

In [4]:
name = "Muhammad Qasim"
print("Muhammad Qasim"=="muHAMMAd Qasim")
name.casefold() == "muHAMMAd Qasim".casefold()

False

True

In [5]:
name = "Muhammad Qasim"
name.center(65)

'                          Muhammad Qasim                         '

In [6]:
name = "Muhammad Qasim"
name.center(2)

'Muhammad Qasim'

In [7]:
name = "Muhammad Qasim"

print(name.count("Qasim"))
print(name.count('a'))

1
3

In [8]:
name = "Muhammad Qasim"
name.encode('utf-8')

b'Muhammad Qasim'

In [9]:
name = "Muhammad Qasim"
name.endswith("sim")

True

In [10]:
name = "Muhammad Qasim"
name.startswith("Muh")

True

In [11]:
data = """
name:\t Qasim
fater:\t Aslam
EDU:\t MS
"""
print(data)

name:	 Qasim
fater:	 Aslam
EDU:	 MS

In [12]:
print(data.expandtabs(20))

name:                Qasim
fater:               Aslam
EDU:                 MS

In [17]:
name = "Muhammad Qasim"
print(name.find("ha"))
print(name.find("a"))
print(name.find("a",4))
print(name.find("a",7))

2
3
6
10

In [18]:
name.find("Qa")

9

In [19]:
name = "Wajid Khan"
print(name.find("d K"))

4

In [20]:
name = "Wajid Khan"
name[0:5]

'Wajid'

In [32]:
name = "Wajid Khan"
name.format_map()

TypeError: str.format_map() takes exactly one argument (0 given)

In [1]:
records = {"x":"Qasim",
           "y":"Aslam",
          }

print("Name: {x} \n father name {y}".format_map(records))

Name: Qasim
 father name Aslam

In [34]:
name = "Qasim"
name.index('a')

1

In [36]:
name = "Muhammad"
name.isalnum()

True

In [37]:
name = "Qasim"
name.isalpha()

True

In [38]:
name = "Qasim20"
name.isalpha()

False

In [39]:
name = "ڈیلی"
name.isascii()

False

In [ ]:
name = "2"
name.isdecimal()

In [ ]:
name = "2"
name.isdigit()

In [42]:
name = "20"
name.isnumeric()

True

In [40]:
name = "PaKIstAN"
name.lower()

'pakistan'

In [41]:
name = "PaKIstAN"
name.islower()

False

In [ ]:
name = "  Qasim  "
name.lstrip()

In [ ]:
name = "  Qasim  "
name.rstrip()

In [ ]:
name = "  Qasim  "
name.strip()

In [ ]:
dir(name)

In [ ]:
# ISIDENTIFIER METHOD 
# The isidentifier() method returns 
# True if the string is a valid identifier, otherwise False.

# A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), 
# or underscores (_). A valid identifier cannot start with a number, or contain any spaces.


name = "Qasim"
name.isidentifier()

In [43]:
# ISIDENTIFIER METHOD 
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [ ]:
# ISPRINTABLE 
# The isprintable() method returns “True” if all characters in the string are printable or the string 
# is empty, Otherwise, It returns “False”. This function is used to check if the argument contains 
# any printable characters such as:

# Digits ( 0123456789 )
#Uppercase letters ( ABCDEFGHIJKLMNOPQRSTUVWXYZ )
# Lowercase letters ( abcdefghijklmnopqrstuvwxyz )
# Punctuation characters ( !”#$%&'()*+, -./:;?@[\]^_`{ | }~ )
name = "Qasim"
name.isprintable()

In [95]:
# checking for printable characters
string = 'My name is Ayush'
print(string.isprintable())
  
# checking if \n is a printable character
string = 'My name is \n Ayush'
print(string.isprintable())
  
# checking if space is a printable character
string = ''
print( string.isprintable())

True
False
True

In [36]:
#The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.
name = "Qasim"
name.isspace()

False

In [43]:
# CHECK FIRST LETTER OF EVERY WORD IS CAPITAL 
name = "Qasim"
name.istitle()

True

In [38]:
# CHECK ALL LETTERS ARE IN UPPERCASE 
name = "Qasim"
name.isupper()

False

In [51]:
name = "QASIM"
b = "*"
print(b.join(name))

Q*A*S*I*M

In [52]:
# MAKE SPACES ON LEFT SIDE
name = "Qasim"
name.ljust(10)

'Qasim     '

In [75]:
name = "Qasim"
name.rjust(16)

'           Qasim'

In [54]:
#the maketrans() method returns a dictionary of Unicode character where a key is a unicode character
# of M, and a value is unicode character of H. This is the simple mapping table containing only one mapping
# for a single character.
name = "Qasim"
name.maketrans('Q','A')

{81: 65}

In [62]:
name = "Qasim"
name.partition('a')

('Q', 'a', 'sim')

In [76]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [66]:
#emoveprefix(prefix, /) function which removes the prefix and returns the rest of the string. 
# If the prefix string is not found then it returns the original string.
#A prefix is the beginning letter of a word or group of words. Example:
# The word “unhappy” consists of the prefix “un."
name = "unhappy"
name.removeprefix('un')

'happy'

In [67]:
# suffix is a letter or group of letters added to the end of a word. Example:
# Suffix '-ly' is added to 'quick' to form 'quickly'. 
name = "Quickly"
name.removesuffix('ly')

'Quick'

In [69]:
name = "Qasim"
name.replace('Q','A')

'Aasim'

In [72]:
#The rfind() method finds the last occurrence of the specified value. 
name = "Qasim"
name.rfind('m')

4

In [73]:
name = "Qasim"
name.rindex('m')

4

In [87]:
name = "Muhammad,Qasim" 
name.rsplit(',')

['Muhammad', 'Qasim']

In [80]:
name = "Muhammad Qasim"
name.split()

['Muhammad', 'Qasim']

In [96]:
#The splitlines() method splits a string into a list. The splitting is done at line breaks.
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [93]:
name = " Qasim"
name.swapcase()

' qASIM'

In [94]:
name = "qasim"
name.title()

'Qasim'

In [55]:
# TRANSLATE METHOD 
#the mapping table contains the replacement of each character in a string 'Mts'. The translate() method replace 'M', 't','s'
# character with 'H', 'd','l' respectively.
mystr = 'Most'
mappingtbl = mystr.maketrans('Mts','Hdl')
print('Mapping table: ', mappingtbl)

newstr = mystr.translate(mappingtbl)
print('Translation: ', newstr)

Mapping table:  {77: 72, 116: 100, 115: 108}
Translation:  Hold

In [56]:
# use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}

txt = "Hello Sam!"

print(txt.translate(mydict))

Hello Pam!

In [30]:
name = "Qasim"
name.upper()

'QASIM'

In [58]:

#The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

# If the value of the len parameter is less than the length of the string, no filling is done.
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(20))
print(b.zfill(25))
print(c.zfill(10))

00000hello
welcome to the jungle
0000welcome to the jungle
000010.000