In [1]:
print('Hello')#printing

Hello

In [2]:
print('WARDAH')

WARDAH

In [3]:
print(5+2)#addition

7

In [4]:
print(5*2)#mltiplication

10

In [5]:
print(5/2)#division

2.5

In [6]:
print(5**2)#power

25

In [7]:
print(5//2)#floor division

2

In [8]:
print(11%3)#remainder

2

In [9]:
name = "wardah"
school  = "PIAIC"
batch = 36
teacher = "MUHAMMAD QASIM"
timing = "9am to 12pm"
print(name)
print(school)
print(batch)
print(teacher)
print(timing)

wardah
PIAIC
36
MUHAMMAD QASIM
9am to 12pm

In [10]:
name = "wardah"
type(name)

str

In [11]:
name = "wardah"
print(type(name))

<class 'str'>

In [12]:
name = "wardah"
id(name)

1377155646512

In [13]:
name = "wardah"
print(id(name))

1377155646512

In [14]:
name = "wardah"
type(name)
id(name)

1377155646512

In [15]:
name = "wardah"
print(type(name))
print(id(name))

<class 'str'>
1377155646512

In [16]:
name = "wardah"
print(len(name))

6

In [17]:
###### give same id's because same value in different variables ########
name = "wardah"
name1 = "wardah"
print(id(name))
print(id(name1))

1377155646512
1377155646512